movies-library-dot-net-solution/MoviesLibraryExercise.ConsoleApp/Service References/MoviesServiceReference/mex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/movieslibrary/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MoviesLibrary" />
  <xs:import schemaLocation="http://localhost/movieslibrary/mex?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MoviesLibraryExercise.ServiceLibrary" />
  <xs:element name="GetMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MoviesLibrary" minOccurs="0" name="GetMoviesResult" nillable="true" type="q1:ArrayOfMovieData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MoviesLibrary" minOccurs="0" name="GetMovieByIdResult" nillable="true" type="q2:MovieData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesInOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MoviesLibraryExercise.ServiceLibrary" minOccurs="0" name="field" type="q3:MovieField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesInOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MoviesLibrary" minOccurs="0" name="GetMoviesInOrderResult" nillable="true" type="q4:ArrayOfMovieData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMovies_Logic_1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMovies_Logic_1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MoviesLibrary" minOccurs="0" name="SearchMovies_Logic_1Result" nillable="true" type="q5:ArrayOfMovieData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMovies_Logic_2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMovies_Logic_2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MoviesLibrary" minOccurs="0" name="SearchMovies_Logic_2Result" nillable="true" type="q6:ArrayOfMovieData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MoviesLibrary" minOccurs="0" name="movie" nillable="true" type="q7:MovieData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateMovieResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MoviesLibrary" minOccurs="0" name="movie" nillable="true" type="q8:MovieData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>