movies-library-dot-net-solution/MoviesLibraryExercise.ConsoleApp/Service References/MoviesServiceReference/MovieLibrary.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MovieLibrary" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="EP_NetTcp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/movieslibrary/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/movieslibrary/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/movieslibrary/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MoviesLibrary" />
      <xsd:import schemaLocation="http://localhost/movieslibrary/mex?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/movieslibrary/mex?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MoviesLibraryExercise.ServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMovieLibrary_GetMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovies" />
  </wsdl:message>
  <wsdl:message name="IMovieLibrary_GetMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieLibrary_GetMovieById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieById" />
  </wsdl:message>
  <wsdl:message name="IMovieLibrary_GetMovieById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieLibrary_GetMoviesInOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesInOrder" />
  </wsdl:message>
  <wsdl:message name="IMovieLibrary_GetMoviesInOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesInOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieLibrary_SearchMovies_Logic_1_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchMovies_Logic_1" />
  </wsdl:message>
  <wsdl:message name="IMovieLibrary_SearchMovies_Logic_1_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchMovies_Logic_1Response" />
  </wsdl:message>
  <wsdl:message name="IMovieLibrary_SearchMovies_Logic_2_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchMovies_Logic_2" />
  </wsdl:message>
  <wsdl:message name="IMovieLibrary_SearchMovies_Logic_2_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchMovies_Logic_2Response" />
  </wsdl:message>
  <wsdl:message name="IMovieLibrary_CreateMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieLibrary_CreateMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieLibrary_UpdateMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieLibrary_UpdateMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovieResponse" />
  </wsdl:message>
  <wsdl:portType name="IMovieLibrary">
    <wsdl:operation name="GetMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieLibrary/GetMovies" message="tns:IMovieLibrary_GetMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieLibrary/GetMoviesResponse" message="tns:IMovieLibrary_GetMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovieById">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieLibrary/GetMovieById" message="tns:IMovieLibrary_GetMovieById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieLibrary/GetMovieByIdResponse" message="tns:IMovieLibrary_GetMovieById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMoviesInOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieLibrary/GetMoviesInOrder" message="tns:IMovieLibrary_GetMoviesInOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieLibrary/GetMoviesInOrderResponse" message="tns:IMovieLibrary_GetMoviesInOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchMovies_Logic_1">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieLibrary/SearchMovies_Logic_1" message="tns:IMovieLibrary_SearchMovies_Logic_1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieLibrary/SearchMovies_Logic_1Response" message="tns:IMovieLibrary_SearchMovies_Logic_1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchMovies_Logic_2">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieLibrary/SearchMovies_Logic_2" message="tns:IMovieLibrary_SearchMovies_Logic_2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieLibrary/SearchMovies_Logic_2Response" message="tns:IMovieLibrary_SearchMovies_Logic_2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieLibrary/CreateMovie" message="tns:IMovieLibrary_CreateMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieLibrary/CreateMovieResponse" message="tns:IMovieLibrary_CreateMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieLibrary/UpdateMovie" message="tns:IMovieLibrary_UpdateMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieLibrary/UpdateMovieResponse" message="tns:IMovieLibrary_UpdateMovie_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EP_BasicHttp" type="tns:IMovieLibrary">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMovies">
      <soap:operation soapAction="http://tempuri.org/IMovieLibrary/GetMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieById">
      <soap:operation soapAction="http://tempuri.org/IMovieLibrary/GetMovieById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesInOrder">
      <soap:operation soapAction="http://tempuri.org/IMovieLibrary/GetMoviesInOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMovies_Logic_1">
      <soap:operation soapAction="http://tempuri.org/IMovieLibrary/SearchMovies_Logic_1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMovies_Logic_2">
      <soap:operation soapAction="http://tempuri.org/IMovieLibrary/SearchMovies_Logic_2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieLibrary/CreateMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieLibrary/UpdateMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EP_NetTcp" type="tns:IMovieLibrary">
    <wsp:PolicyReference URI="#EP_NetTcp_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetMovies">
      <soap12:operation soapAction="http://tempuri.org/IMovieLibrary/GetMovies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieById">
      <soap12:operation soapAction="http://tempuri.org/IMovieLibrary/GetMovieById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesInOrder">
      <soap12:operation soapAction="http://tempuri.org/IMovieLibrary/GetMoviesInOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMovies_Logic_1">
      <soap12:operation soapAction="http://tempuri.org/IMovieLibrary/SearchMovies_Logic_1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMovies_Logic_2">
      <soap12:operation soapAction="http://tempuri.org/IMovieLibrary/SearchMovies_Logic_2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMovie">
      <soap12:operation soapAction="http://tempuri.org/IMovieLibrary/CreateMovie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <soap12:operation soapAction="http://tempuri.org/IMovieLibrary/UpdateMovie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieLibrary">
    <wsdl:port name="EP_BasicHttp" binding="tns:EP_BasicHttp">
      <soap:address location="http://localhost/movieslibrary/basic" />
    </wsdl:port>
    <wsdl:port name="EP_NetTcp" binding="tns:EP_NetTcp">
      <soap12:address location="net.tcp://localhost/movieslibrary/net" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost/movieslibrary/net</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>